body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: rgb(185, 171, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

input, select {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(87, 146, 87);
    color: #ffffff;
}

.results {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.2em;
    height: calc(5 * (1.2em + 10px));
    overflow-y: auto;
}